.lead__image {
    width: calc(100vw - 30%);
    min-height: 615px;
    margin: 64px auto 0 148px;
    object-fit: contain;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .lead__image {
        width: calc(100vw - 12%);
        height: calc(100vh - 50%);
        margin: 56px auto 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        width: 100%;
        margin: 56px auto 0 0;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        margin: 40px 0 0 0;
        min-height: 200px;
    }
}