.intro__list {
    width: 690px;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 163%;
    margin: 0;
    list-style: none;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    .intro__list {
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__list {
        width: 288px;
    }
}