.header {
    width: 1184px;
    height: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .header {
        width: calc(100vw - 5%);
    }
}

@media screen and (max-width: 1023px) {
    .header {
        width: calc(100vw - 5%);
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: calc(100% - 5%);
        height: 42px;
        margin-left: 16px;
    }
}