.intro__title {
    width: 690px;
    font-weight: 900;
    font-style: normal;
    font-size: 54px;
    line-height: 58px;
    margin: 114px 0 0 0;
    color: #ffffff;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    .intro__title {
        width: 720px;
        margin-top: 88px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        width: 100%;
        margin: 64px auto 0 16px;
        font-size: 32px;
        line-height: 35px;
    }
}