.footer__author {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 186px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #ffffff;
    margin: 0 48px 24px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    .footer__author {
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer__author {
        line-height: 14px;
        margin-right: 0;
        margin-left: 16px;
    }
}