.footer__links {
    margin: 0 0 24px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .footer__links {
        margin-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .footer__links {
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer__links {
        margin: 0 auto 48px 0;
    }
}