.photo-grid {
    margin: 92px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 284px);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    width: 1184px;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        width: 928px;
        grid-template-columns: repeat(3, 300px);
        grid-column-gap: 14px;
        grid-row-gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        width: 720px;
        margin: 88px auto 0 auto;
        grid-template-columns: repeat(auto-fill, 352px);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        width: calc(100% - 32px);
        margin: 64px 16px 14px 16px;
        grid-template-columns: 1fr;
        grid-row-gap: 12px;
    }
}