.lead__title {
    width: 720px;
    margin: 56px auto 0 auto;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .lead__title {
        margin: 48px auto 0 auto;
        width: calc(100% - 208px);
    }
}

@media screen and (max-width: 1023px) {
    .lead__title {
        width: calc(100% - 48px);
        margin: 48px 0 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        width: calc(100% - 32px);
        margin: 48px 0 0 16px;
        font-size: 40px;
        line-height: 44px;
    }
}