.place__pharagraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    margin: 0 0 26px 0;
    width: 484px;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .place__pharagraph {
        width: calc(50vw - 10%);
    }
}

@media screen and (max-width: 1023px) {
    .place__pharagraph {
        width: calc(50vw - 10%);
    }
}

@media screen and (max-width: 767px) {
    .place__pharagraph {
        margin: 0 0 25px 0;
        width: calc(80vw - 5%);
    }
}