.lead__subtitle {
    margin: 32px 0 0 320px;
    line-height: 36px;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    width: 640px;
    min-height: 72px;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        margin-left: 192px;
        width: calc(100vw - 45%);
    }
}

@media screen and (max-width: 1023px) {
    .lead__subtitle {
        margin-left: 64px;
        width: calc(100vw - 15%);
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        margin-top: 16px;
        margin-left: 16px;
        width: calc(100vw - 15%);
        font-size: 16px;
        line-height: 20px;
    }
}