.place__website {
    display: grid;
    align-self: end;
    align-content: space-between;
    justify-content: start;
    grid-column: 2;
    width: 456px;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .place__website {
        width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__website {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 288px;
        margin: 0 16px 0 16px;
    }
}