.cover__subtitle {
    width: 360px;
    margin: 32px auto 0 auto;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        width: 360px;
        margin: 32px auto 0 auto;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        width: 360px;
        margin: 32px 0;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: 288px;
        margin: 16px auto 0 auto;
        font-size: 14px;
        line-height: 16px;
    }
}